.edge
{
	opacity: 0.6;
}
	
.edge:hover
{
	opacity:1;
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    max-width: 600px;									
	pointer-events: none;			
}
div.tooltip table{
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  max-height: 150px;
  margin: auto;
  max-width: 200px;
  padding:10px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
div.tooltip th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:14px;
  padding:10px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}
div.tooltip  tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
div.tooltip td {
  background:#FFFFFF;
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:14px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}